@font-face {
  font-family: 'Neuzeit S LT Std', sans-serif;
  font-style: normal;
  font-display: swap;

  src: url('/assets/fonts/Neuzeit-S-LT-Std.ttf') format('truetype');
}
<<<<<<< HEAD

=======
  
>>>>>>> 0603c2b ([#5] Fix lint)
@font-face {
  font-family: 'Neuzeit S LT Std Bold';
  font-style: normal;
  font-display: swap;
<<<<<<< HEAD

=======
  
>>>>>>> 0603c2b ([#5] Fix lint)
  src: url('/assets/fonts/Neuzeit-S-LT-Std-Bold.ttf') format('truetype');
}
