@font-face {
  font-family: 'Neuzeit S LT Std', sans-serif;
  font-style: normal;
  font-display: swap;

  src: url('/assets/fonts/Neuzeit-S-LT-Std.ttf') format('truetype');
}

@font-face {
  font-family: 'Neuzeit S LT Std Bold';
  font-style: normal;
  font-display: swap;

  src: url('/assets/fonts/Neuzeit-S-LT-Std-Bold.ttf') format('truetype');
}
