.layout-auth {
  &,
  body,
  .root-container {
    height: 100%;
  }

  .root-container {
    display: flex;
  }

  body {
    background: {
      image: url('/assets/images/background.png');
      size: cover;

      position: center;
    }
  }

  .app-header-title {
    padding-top: rem(24px);
    opacity: 0.6;
    font-weight: 400;
    font-size: rem(17px);
    line-height: rem(22px);
    color: #fff;
  }

  .app-content {
    z-index: 1;
    width: rem(330px);
    flex-direction: column;
    align-items: flex-start;
    padding-top: rem(145px);
    margin: 0 auto;
    background-color: inherit;
    text-align: center;
  }
}
