.alert {
  display: flex;
  width: 100%;
  margin-top: rem(24px);
  margin-bottom: rem(32px);

  animation: slide-in 0.2s ease-in;

  border-radius: rem(12px);

  background-color: rgba(37, 37, 37, 0.6);

  color: #fff;
  backdrop-filter: blur(1.698rem);
  padding: 0;

  ul {
    padding-left: 4.68rem;
    padding-top: rem(44px);
    position: relative;
    opacity: 0.6;
    text-align: left;
    font-weight: 400;
    font-size: rem(13px);
    line-height: rem(18px);
    li {
      margin-bottom: -0.2rem;
    }
  }

  .alert-header-title {
    display: flex;
    position: absolute;
    padding-top: rem(16px);
    padding-bottom: rem(8px);
    padding-left: rem(61.91px);
    letter-spacing: rem(-0.015px);
    font-weight: 800;
    font-size: rem(15px);
    line-height: rem(20px);
  }

  &__icon {
    position: absolute;
    top: rem(19px);
    left: rem(19px);
  }

  @keyframes slide-in {
    0% {
      transform: skewX(10deg) translateX(-1.56rem);
    }
    100% {
      transform: skewX(0deg);
    }
  }
}
