.alert {
  display: flex;
  width: 100%;
  margin-top: rem(24px);
  margin-bottom: rem(32px);
  animation: slide-in 0.2s ease-in;

  border-radius: rem(12px);

  background-color: rgba(37, 37, 37, 0.6);

  color: #fff;
  backdrop-filter: blur(1.698rem);
  @keyframes slide-in {
    0% {
      transform: skewX(10deg) translateX(-1.56rem);
    }

    100% {
      transform: skewX(0deg);
    }
  }

  &__icon {
    position: absolute;
    padding-top: rem(19px);
    padding-left: rem(19px);
  }
}

.alert-content {
  ul {
    padding-left: 4.68rem;

    opacity: 0.6;

    font-family: $font-family-sans-serif-normal;
    text-align: left;

    li {
      margin-bottom: -0.2rem;
    }
  }

  .alert-header-title {
    display: flex;
    padding-top: rem(16px);
    padding-left: rem(61.91px);
    padding-bottom: rem(8px);

    font-family: $font-family-sans-serif-bold;
    letter-spacing: -0.015px;
  }
}
