.sign-in-btn {
  width: 100%;
<<<<<<< HEAD
  background: #ffffff;
  border-radius: 10px;
=======
>>>>>>> 0603c2b ([#5] Fix lint)
  height: 56px;

  border-radius: 10px;

  background: #fff;

  font-family: 'Neuzeit S LT Std Bold', sans-serif;
  font-weight: bold;
}
