.form-field {
  position: relative;
  margin-bottom: 10%;
  .input-label {
    display: flex;
    flex: none;
    flex-grow: 0;
    align-items: center;
    align-self: stretch;
    order: 0;
    width: rem(320px);
    height: rem(20px);
    margin-bottom: rem(8px);
    font-weight: 800;
    // font-size: 15px;
    display: flex;
    flex: none;
    flex-grow: 0;
    align-items: center;
    align-self: stretch;
    order: 0;
    width: 20rem;
    height: 1.25rem;
    margin-bottom: 0.5rem;

    color: #fff;
    font-family: 'Neuzeit S LT Std';
    font-family: 'Neuzeit S LT Std Nomal', sans-serif;
    font-style: normal;
    font-weight: 800;
    letter-spacing: -0.24px;
  }
  .input {
    width: 100%;
    height: 3.5rem;

    border: 0 solid #ced4da;
    border-radius: 12px;

    background: rgba(255, 255, 255, 0.18);

    color: #fff;
    font-family: 'Neuzeit S LT Std Bold', sans-serif;
  }
}
