.miltiple-choice-answer {
  max-height: 250px;
  .multiple-pick-answer {
    color: #cbd5e0;
    width: 100%;
    display: flex;
    padding: 17.82px;
    cursor: pointer;
    opacity: 0.5;
    border: none;
    background-color: transparent;
    img {
      display: none;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &.active_answer {
      .checkbox {
        background-color: white;
        img {
          display: block;
        }
      }
    }

    &:hover {
      font-weight: 600;
      opacity: 1;
      border-top-style: solid;
      border-bottom-style: solid;
      border-color: #e2e8f0;
    }

    .checkbox {
      width: 1.5rem;
      height: 1.5rem;
      border-style: solid;
      border-color: white;
      border-radius: 50%;
      position: absolute;
      right: 5%;
    }
  }
}
