.outro {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #15151a;
  color: white;
  font-weight: 850;
  font-size: 28px;
  line-height: 34px;
  text-align: center;
  font-family: 'Neuzeit S LT Std Nomal', sans-serif;
  font-style: normal;
  letter-spacing: -0.5px;
  white-space: pre-line;
}

.outro img {
  max-width: 100%;
  max-height: 100%;
}
