.skeleton-loader {
  animation: pulse 1.5s infinite;

  border-radius: 12px;

  background: rgb(64, 64, 64);
  background: linear-gradient(90deg, rgba(64, 64, 64, 1) 40%, rgba(95, 95, 95, 1) 50%, rgba(64, 64, 64, 1) 60%);
  background-size: 500% 100%;
}
@keyframes pulse {
  0% {
    background-position: right;
  }

  100% {
    background-position: left;
  }
}

.date-loader {
  position: absolute;
  top: 13.5%;
  left: 25.56%;
}

.date-today-loader {
  position: absolute;
  top: 18.5%;
  left: 25.56%;
}

.survey-list-loader-container {
  position: absolute;
  top: 25.38%;
  right: 25.56%;
  bottom: 36.88%;
  left: 25.56%;
  height: 70%;

  .survey-list-loader {
    position: absolute;
    width: 100% !important;
  }

  .survey-link-loader {
    position: absolute;
    top: 345px;
    right: 0;

    border-radius: 50%;
  }
}

.survey-title-loader {
  position: absolute;
  top: 562px;
  left: 25.56%;
}

.survey-description-loader {
  position: absolute;
  top: 605px;
  left: 25.56%;
}

.user-avatar-loader {
  position: absolute;
  top: 4%;
  right: 2.22%;

  border-radius: 50%;
}
