.user-button {
  border: none;
  cursor: pointer;
  background-color: inherit;
}

.user-avatar {
  position: absolute;
  width: 2.25rem;
  right: 32px;
  top: 32px;
  border-radius: 50%;
}

.user-menu__collapse {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 264px;
  transition: 0.5s;
  z-index: 10;
  background: rgba(30, 30, 30, 0.9);
  backdrop-filter: blur(40.7742px);
  font-family: 'Neuzeit S LT Std';
  font-family: 'Neuzeit S LT Std Nomal', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 22px;
  line-height: 28px;

  &--close {
    transform: translateX(100%);
  }

  &--open {
    transform: translateX(0);
  }
  .logout-button {
    position: absolute;
    width: 68px;
    height: 25px;
    left: calc(50% - 68px / 2 - 66px);
    top: 123px;
    color: #ffffff;
    opacity: 0.5;
    border: none;
    background-color: transparent;
  }
  .user-name {
    position: absolute;
    left: 32px;
    top: 3.98%;
    bottom: 91.52%;
    justify-content: space-between;

    color: #fff;

    display: flex;
    align-items: center;
  }
  .user-line {
    position: absolute;
    left: 32px;
    right: 32px;
    top: 80px;
    opacity: 0.2;
    border: 0.5px solid #ffffff;
  }
  .app-version {
    position: absolute;
    height: 13px;
    left: 32px;
    right: 32px;
    bottom: 20px;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.07px;
    color: #ffffff;
    opacity: 0.5;
  }
}
