.user-button {
  border-style: none;

  background-color: inherit;

  cursor: pointer;
}

.user-avatar {
  position: absolute;
  top: 32px;
  right: 32px;
  width: 2.25rem;

  border-radius: 50%;
}

.user-menu-collapse {
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  width: 264px;
  height: 100%;

  transition: 0.5s;

  background: rgba(30, 30, 30, 0.9);

  font-family: 'Neuzeit S LT Std';
  font-family: 'Neuzeit S LT Std Nomal', sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 800;
  line-height: 28px;
  backdrop-filter: blur(40.7742px);

  &--close {
    transform: translateX(100%);
  }

  &--open {
    transform: translateX(0);
  }

  .logout-button {
    position: absolute;
    top: 123px;
    left: calc(50% - 68px / 2 - 66px);
    width: 68px;
    height: 25px;

    border-style: none;

    opacity: 0.5;
    background-color: transparent;

    color: #fff;
  }

  .user-name {
    display: flex;
    position: absolute;
    top: 3.98%;
    bottom: 91.52%;
    left: 32px;
    align-items: center;
    justify-content: space-between;

    color: #fff;
  }

  .user-line {
    position: absolute;
    top: 80px;
    right: 32px;
    left: 32px;

    border: 0.5px solid #fff;

    opacity: 0.2;
  }

  .app-version {
    position: absolute;
    right: 32px;
    bottom: 20px;
    left: 32px;
    height: 13px;

    opacity: 0.5;

    color: #fff;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0.07px;
    line-height: 13px;
  }
}
